.template-index {
  >.row-1 {
    background-size: cover;
    background-position: center;
    position: relative;
    padding: 30% 5% 5% 5%;
    @media screen and (min-width: $tabwidth) {
      padding: 30% 5% 5% 45%;
    }
    .copy {
      color: white;
      font-size: 25px;
      font-weight: 800;
      text-shadow: 3px 3px 20px black;
      @media screen and (min-width: $tabwidth) {
        font-size: 40px;
      }
    }
    img.divot {
      width: 100%;
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }
  >.row-2 {
    padding: 20px 0;
    text-align: center;
    @media screen and (min-width: $tabwidth) {
      padding: 4% 0 9% 0;
    }
    >.row-1 {
      padding: 0 20px;
    @media screen and (min-width: $tabwidth) {
      padding: 0 5%;
    }
      >.row-1.circle {
        background-color: $color__woodland-blue;
        width: 125px;
        height: 125px;
        border-radius: 50%;
        padding-top: 25px;
        margin: 0 auto;
        img {
          display: block;
          width: 80%;
          margin: 0 auto;
        }
      }
      >.row-2 {
        margin-top: 20px;
        color: $color__woodland-brown;
        font-size: 25px;
        @media screen and (min-width: $tabwidth) {
          margin-top: 3%;
          font-size: 30px;
        }
      }
    }
    >.row-2 {
      margin-top: 20px;
      display: block;
      width: 100%;
      padding: 0 20px;
      @media screen and (min-width: $tabwidth){
        margin-top: 3%;
        padding: 0 5%-1/4*5%;
      }
      @media screen and (min-width: $deskwidth){
        margin-top: 0%;
        padding: 0 5%-8/6*1%;
      }
      .outer-wrapper {
        width: 100%;
        background-position: center;
        background-size: 150%;
        margin: 20px 0 0 0;
        transition: background-size 0.3s linear;
        -moz-transition: background-size 0.3s linear;
        -webkit-transition: background-size 0.3s linear;
        &:hover {
          background-size: 180%;
          a {
            .inner-wrapper {
              .no-rollover {
                display: none;
              }
              .rollover {
                display: block;
              }
            }
          }
        }
        &:first-child {
          margin: 0;
        }
        @media screen and (min-width: $tabwidth){
          min-width: 200px;
          display: inline-block;
          vertical-align: middle;
          margin: 2.5% 1/4*5% 0 1/4*5%;
          width: 1/2*93%;
          &:first-child {
            margin: 2.5% 1/4*5% 0 1/4*5%;
          }
        }
        @media screen and (min-width: $deskwidth){
          width: 1/3*92%;
          margin: 4% 8/6*1% 0 8/6*1%;
          float: left;
          &:first-child {
            margin: 4% 8/6*1% 0 8/6*1%;
          }
        }
        a {
          display: block;
          color: inherit;
          height: 100%;
          padding: 20px;
          background-color: rgba(0,0,0,0.5);
          text-decoration: none;
          &:hover {
            color: inherit;
            text-decoration: none;
          }
          .inner-wrapper {
            @include flexbox;
            @include flexbox-direction(row);
            @include flexbox-align-content(center);
            @include flexbox-align-items(center);
            @include flexbox-justify(center);
            border: 1px solid white;
            color: white;
            height: 100%;
            font-size: 20px;
            text-transform: uppercase;
            padding: 40% 0;
            line-height: 1.2;
            @media screen and (min-width: $tabwidth) {
              font-size: 25px;
            }
            @media screen and (min-width: $widewidth) {
              font-size: 30px;
            }
            div {
              display: block;
              &.rollover {
                display: none;
                font-size: 16px;
                padding: 0 5%;
                line-height: 1.6;
              }
            }
          }
        }
      }
    }
  }
  >.row-3 {
    background-size: cover;
    position: relative;
    background-position: center;
    padding: 8% 5% 30% 5%;
    @media screen and (min-width: $tabwidth) {
      padding: 8% 5% 30% 55%;
    }
    .copy {
      color: $color__woodland-brown;
      font-size: 25px;
      font-weight: 800;
      @media screen and (min-width: $tabwidth) {
        font-size: 40px;
      }
    }
    img.divot {
      width: 100%;
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }
  >.row-4 {
    padding: 20px;
    text-align: center;
    @media screen and (min-width: $tabwidth) {
      padding: 4% 5% 9% 5%;
    }
    >.row-1.circle {
      background-color: $color__woodland-blue;
      width: 125px;
      height: 125px;
      border-radius: 50%;
      padding-top: 15px;
      margin: 0 auto;
      img {
        display: block;
        width: 80%;
        margin: 0 auto;
      }
    }
    >.row-2 {
      margin-top: 20px;
      color: $color__woodland-brown;
      font-size: 25px;
      @media screen and (min-width: $tabwidth) {
        margin-top: 3%;
        font-size: 30px;
      }
    }
    >.row-3 {
      margin: 30px 0 0 0;
      @media screen and (min-width: $tabwidth) {
        margin: 5% auto 0 auto;
        width: 70%;
      }
      @media screen and (min-width: $deskwidth) {
        width: 50%;
      }
      .iframe-wrapper {
        position: relative;
        padding-bottom: 56.25%;
        iframe {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          max-width: 100%;
        }
      }
    }
  }
  >.row-5 {
    padding: 20px 0;
    text-align: center;
    @media screen and (min-width: $tabwidth) {
      padding: 8% 0;
    }
    >.row-1 {
      padding: 0 20px;
      @media screen and (min-width: $tabwidth) {
        padding: 0 8%;
      }
      >.row-1 {
        color: white;
        font-size: 25px;
        @media screen and (min-width: $tabwidth) {
          font-size: 30px;
        }
        @media screen and (min-width: $widewidth) {
          font-size: 40px;
        }
      }
      >.spacer {
        width: 100px;
        margin: 0 auto;
        border: 1px solid white;
        margin-top: 10px;
        @media screen and (min-width: $tabwidth) {
          margin-top: 1%;
          width: 250px;
        }
      }
      >.row-2 {
        margin-top: 20px;
        color: white;
        font-size: 20px;
        @media screen and (min-width: $tabwidth) {
          margin-top: 2%;
          font-size: 25px;
        }
      }
    }
    >.row-2 {
      margin-top: 20px;
      width: 100%;
      display: block;
      padding: 0 20px;
      @media screen and (min-width: $tabwidth){
        margin-top: 0;
        padding: 0 8%-8/6*1%;
      }
      @media screen and (min-width: $widewidth){
        margin-top: 2%;
      }
      .outer-wrapper {
        width: 100%;
        margin: 20px 0 0 0;
        &:first-child {
          margin: 0;
        }
        @media screen and (min-width: $tabwidth){
          min-width: 350px;
          width: 1/3*90%;
          display: inline-block;
          margin: 10/2*1% 10/4*1% 0 10/4*1%;
          &:first-child {
            margin: 10/2*1% 10/4*1% 0 10/4*1%;
          }
        }
        @media screen and (min-width: $widewidth){
          width: 1/3*92%;
          margin: 4% 8/6*1% 0 8/6*1%;
          float: left;
          &:first-child {
            margin: 4% 8/6*1% 0 8/6*1%;
          }
        }
        a {
          display: block;
          color: inherit;
          border: 2px solid rgba(255,255,255,0.8);
          text-decoration: none;
          &:hover {
            color: inherit;
            text-decoration: none;
          }
          .inner-wrapper {
            color: white;
            font-size: 20px;
            background-color: rgba(255,255,255,0.4);
            padding: 10px;
            @media screen and (min-width: $tabwidth) {
              font-size: 25px;
            }
            @media screen and (min-width: $widewidth) {
              font-size: 30px;
            }
          }
        }
      }
    }
  }
}
.template-page, .error-404, .template-sitemap, .template-board, .template-search, .template-our-people {
  >.row-1 {
    background-size: cover;
    background-position: center;
    position: relative;
    padding: 30% 5% 5% 5%;
    @media screen and (min-width: $tabwidth) {
      padding: 30% 5% 5% 45%;
    }
    .copy {
      color: white;
      font-size: 25px;
      font-weight: 800;
      text-shadow: 3px 3px 20px black;
      @media screen and (min-width: $tabwidth) {
        font-size: 40px;
      }
    }
    img.divot {
      width: 100%;
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }
  >.row-2 {
    padding: 20px 0;
    @media screen and (min-width: $tabwidth) {
      padding: 3% 0 8% 0;
    }
    h1 {
      text-transform: uppercase;
      margin: 0;
      padding: 0 20px;
      font-size: 30px;
      @media screen and (min-width: $tabwidth) {
        font-size: 40px;
        padding: 0 5%;
      }
    }
    >.copy {
      margin-top: 10px;
      padding: 0 20px;
      @media screen and (min-width: $tabwidth) {
        padding: 0 5%;
      }
    }
    >.sub-pages {
      margin-top: 30px;
      text-align: center;
      width: 100%;
      display: block;
      padding: 0 20px;
      @media screen and (min-width: $tabwidth){
        margin-top: 10%;
        padding: 0 5%-1/4*5%;
      }
      @media screen and (min-width: $deskwidth){
        padding: 0 5%-8/6*1%;
        
      }
      .outer-wrapper {
        width: 100%;
        background-position: center;
        background-size: 150%;
        margin: 20px 0 0 0;
        transition: background-size 0.3s linear;
        -moz-transition: background-size 0.3s linear;
        -webkit-transition: background-size 0.3s linear;
        &:hover {
          background-size: 180%;
          a {
            .inner-wrapper {
              .no-rollover {
                display: none;
              }
              .rollover {
                display: block;
              }
            }
          }
        }
        &:first-child {
          margin: 0;
        }
        @media screen and (min-width: $tabwidth){
          min-width: 200px;
          display: inline-block;
          vertical-align: middle;
          margin: 2.5% 1/4*5% 0 1/4*5%;
          width: 1/2*93%;
          &:first-child {
            margin: 2.5% 1/4*5% 0 1/4*5%;
          }
        }
        @media screen and (min-width: $deskwidth){
          width: 1/3*92%;
          margin: 4% 8/6*1% 0 8/6*1%;
          float: left;
          &:first-child {
            margin: 4% 8/6*1% 0 8/6*1%;
          }
        }
        a {
          display: block;
          height: 100%;
          color: inherit;
          padding: 20px;
          background-color: rgba(0,0,0,0.5);
          text-decoration: none;
          &:hover {
            color: inherit;
            text-decoration: none;
          }
          .inner-wrapper {
            @include flexbox;
            @include flexbox-direction(row);
            @include flexbox-align-content(center);
            @include flexbox-align-items(center);
            @include flexbox-justify(center);
            border: 1px solid white;
            color: white;
            height: 100%;
            font-size: 20px;
            text-transform: uppercase;
            padding: 40% 0;
            line-height: 1.2;
            @media screen and (min-width: $tabwidth) {
              font-size: 25px;
            }
            @media screen and (min-width: $widewidth) {
              font-size: 30px;
            }
            div {
              display: block;
              &.rollover {
                display: none;
                font-size: 16px;
                padding: 0 5%;
                line-height: 1.6;
              }
            }
          }
        }
      }
    }
  }
}
.template-our-people {
  >.row-2 {
    >.staff {
      margin-top: 20px;
      padding: 0 20px;
      @media screen and (min-width: $tabwidth) {
        padding: 0 4%;
      }
      >header {
        h2 {
          margin: 0 0 20px 0;
          text-transform: uppercase;
          color: $color__text-main;
        }
      }
      >.staff {
        .member {
          width: 100%;
          margin: 20px 0;
          @media screen and (min-width: $tabwidth) {
            width: 1/2*96%;
            margin: 1% 1% 0 1%;
            float: left;
          }
          @media screen and (min-width: $deskwidth) {
            width: 1/4*92%;
          }
          a {
            display: block;
            width: 100%;
            text-decoration: none;
            color: $color__text-main;
            &:hover {
              color: $color__text-main;
            }
            img {
              width: 100%;
              display: block;
            }
            header {
              text-align: center;
              h2 {
                font-size: 18px;
                @media screen and (min-width: $tabwidth) {
                  font-size: 24px;
                }
              }
            }
            .title {
              text-align: center;
              font-size: 14px;
              @media screen and (min-width: $tabwidth) {
                font-size: 18px;
              }

            }
          }
          .hidden {
            display: none;
          }
        }
      }
    }
  }
}
.template-board {
  >.row-2 {
    >.trustees {
      margin-top: 20px;
      padding: 0 20px;
      @media screen and (min-width: $tabwidth) {
        padding: 0 5%;
      }
      >header {
        h2 {
          margin: 0 0 20px 0;
          text-transform: uppercase;
          color: $color__text-main;
        }
      }
      >.trustees {
        @include flexbox();
        @include flexbox-align-content(stretch);
        @include flexbox-align-items(stretch);
        @include flexbox-justify(space-between);
        @include flexbox-direction(column);
        @media screen and (min-width: $tabwidth) {
          @include flexbox-direction(row);
          @include flexbox-wrap(wrap);
        }
        >.trustee {
          @include flexbox-flex(0,1,auto);
          margin: 10px 0;
          &:first-child {
            margin: 0 0 10px 0;
          }
          @media screen and (min-width: $tabwidth) {
            width: 50%;
            margin: 0;
            &:first-child {
              margin: 0;
            }
          }
          >.wrapper {
            @media screen and (min-width: $tabwidth) {
              padding: 1%;
            }
            p {
              margin: 0;
            }
          }
        }
      }
    }
  }
}