$size__site-main: 100%;
$size__site-sidebar: 25%;

.wrapper {
	width: 100%;
	margin: 0px auto;
	padding: 20px;
	@media screen and (min-width: 600px) {
		width: 100%;
	}
	@media screen and (min-width: 1200px) {
		width: 1200px;
		padding: 0px;
	}
}

.content-area {
	width: 100%;
	margin: 0px auto;
	@media screen and (min-width: 600px) {
		width: 66%;
		float: left;
		margin: 0;
	}
	@media screen and (min-width: 1200px) {
		/*width: 1200px;*/
	}
}

.widget-area {
	width: 100%;
	margin: 0px auto;
	@media screen and (min-width: 600px) {
		width: 26%;
		float: right;
		margin: 0;
	}
	@media screen and (min-width: 1200px) {
		/*width: 1200px;*/
	}
}