/* Pagination
-------------------------------------------------------------- */
.pagi {
	bottom: -50px;
	left: 125px;
	position: absolute;	
}
.navigation li a,
.navigation li a:hover,
.navigation li.active a,
.navigation li.disabled {
	color: #fff;
	text-decoration:none;
}
 
.navigation li {
	display: inline;
}
 
.navigation li a,
.navigation li a:hover,
.navigation li.active a,
.navigation li.disabled {
	background-color: #FAD827;
	border-radius: 3px;
	cursor: pointer;
	padding: 12px;
	padding: 0.75rem;
}
 
.navigation li a:hover,
.navigation li.active a {
	background-color: #F47A21;
}